    <!-- <div class="container-fluid"> -->
        <div class="row flex-nowrap">
            <div class="col-auto col sidenav">
                <div class="d-flex flex-column justify-content-between px-1 pt-2 text-white min-vh-100">
                    <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
           <span class="fs-6 d-none d-sm-inline">Menu</span>
        </a> -->
                    <ul class="nav nav-pills flex-column mb-4" id="menu">
                        <li class="nav-item py-4 py-sm-0 pb-3">
                            <a routerLink="/dashboard" class="nav-link align-middle px-0 text-white">
                                <span class="fs-5 material-symbols-outlined rzi">dashboard</span>
                                <span class="ms-3 d-none d-sm-inline fs-6">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a routerLink="/gltransactions" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                <span class="fs-5 material-symbols-outlined rzi">history</span>
                                <span class="ms-3 d-none d-sm-inline fs-6">Transactions</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a routerLink="/glaccounts" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                <span class="fs-5 -outlined rzi">account_circle</span>
                                <span class="ms-3 d-none d-sm-inline fs-6">Accounts</span> </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a routerLink="/adminusers" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                <span class="fs-5 -outlined rzi">person</span>
                                <span class="ms-3 d-none d-sm-inline fs-6"> Users</span></a>
                        </li>
                        <li class="nav-item py-2 py-sm-0" id="adminAcc">
                            <a routerLink="/newadmins" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                <span class="fs-5 -outlined rzi">person</span>
                                <span class="ms-3 d-none d-sm-inline fs-6">Admin Account</span></a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a routerLink="/kycverification" class="nav-link px-0 align-middle text-white">
                                <span class="fs-5 -outlined rzi">payments</span>
                                <span class="ms-3 d-none d-sm-inline fs-6">KYC Validation</span></a>
                        </li>
                    </ul>
                    <div class="dropdown pb-4 nav-item py-2 py-sm-0">
                        <a (click)="logout()"
                            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                            id="logout">
                            <span class="fs-5 -outlined rzi">logout</span>
                            <span class="ms-3 nav-link px-0 align-middle text-white fs-6">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
        <!-- <app-spinner></app-spinner> -->
    <!-- </div> -->
