<app-header></app-header>
<div class="row gutterFix">
    <!-- colSide -->
    <div class="colSide">
        <app-sidenav></app-sidenav>
    </div>
    <!-- colMain -->
    <div class="colMain">
        <!-- content -->
        <main class="main-container">
            <div class="row main-cards pt-2">
                <div class="col-md-4">
                    <div class="card-body">
                        <input (click)="lockuserContainer()" class="navBtn" type="button" value="LOCK USER ACCOUNT">
                        <input (click)="unlockuserContainer()" class="navBtn" type="button" value="UNLOCK USER ACCOUNT">
                    </div>
                </div>
                <div class="container col-md-8">
                    <div id="lockuserContainer" >
                        <div class="card">
                            
                            <div class="card-header">
                                <h4 class="text-center">Lock User Account</h4>
                            </div>
                                <div class="imgContainer">
                                    <img src="/assets/undraw_safe_re_kiil.svg" alt="icon">
                                </div>
                                <div class="card-body">
                                <div class="form-group">
                                    <label for="">Email Address</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="xyz@abc.com" [(ngModel)]="email">
                                </div>                               
                                <div class="form-group">
                                    <label for="">Reason</label>
                                    <textarea type="text" class="form-control" id="reason" name="reason" placeholder="" [(ngModel)]="reason"></textarea>
                                </div>                               
                                <div>
                                    <button class="submitBtn float-right" id="buttonPrimary"
                                        (click)="lockUser()">Lock</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="unlockuserContainer" style="display: none;">
                        <h3 class="">Locked Users</h3>
                        <!-- <div class="search d-flex flex-end">
                            Filter by:
                            <div class="col-auto">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div> -->
                        <table class="table table-bordered text-black text-center">
                            <thead class="tabledark text-white">
                                <tr>
                                    <th scope="col">NAME</th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">REASON</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                <tr class="txn__table" *ngFor="let data of tabledata let i = index" id="sender"
                                    ng-click="getData($event)">
                                    <!-- <tr *ngFor="let data of tabledata | orderBy: key: reverse | search: searchText | paginate: {itemsPerPage: tableSize, 
                            currentPage: page,
                            totalItems: count}; let i = index" id="sender"> -->
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.reason}}</td>
                                    <td>{{data.date | date:'short'}}</td>
                                    <td id="unlockTxnBtn"><input class="shadow" id="unlockBtn" type="button" value="UnLock" (click)="openModal(data)"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <router-outlet></router-outlet>
</div>